{% extends 'base.html' %}
{%load static %}
{% load crispy_forms_tags %}

{% block contenido %}

    <div class="row container-fluid">
        
        <div class="col-sm-4">
        
        </div>
        <div class=" col-lg-4">
        <br>
        
        
                <div class="card">
                    <div class="card-body">
                        <form action="" method="POST"> {% csrf_token %}
                            
                            <h2 style="font-family: 'Oswald', sans-serif;margin-top:10px;text-align:center">INICIAR SESIÓN</h2>
                            
                            {{form|crispy}}
                            
                            
                            <input type="submit" class="btn btn-success" style="border-radius: 5px;margin-bottom:10px;" value="ENTRAR">


                            
                            

                        </form>
                    </div>
                </div>
            
            
        <br>
        
        </div>
        
        <div class="col-sm-4">
        
        </div>
        
    </div>





    
    

    


{% endblock contenido %}