.boton_descargar1{
    padding-left: 37%;
    
    
    
  
    
  } 
  
  .text_imagen1{
    text-align: center;
    padding-top: 10%;
    color: white
  }
  
  .imagen1click{
    padding-top: 1%;
  }
  
  
  .footer_image {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1a1a1a;
    color: white;
    text-align: left;
    padding:1%;
  }
  
  /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 800px) {
    .boton_descargar1, .imagen1click, .text_imagen1{
      width: 100%;
      margin-top: 0;
      
    }
    .footer_image{
      position: fixed;
      padding: 1%;
    }
  }