.cuerpo{
    background-image: url("../img/fondo.jpg");
  }
  
  .footer_contacto {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1a1a1a;
    color: white;
    text-align: left;
    padding:1%;
  }
  
  
  
  * {
      box-sizing: border-box;
    }
    
    /* Style inputs */
    input[type=text], select, textarea {
      width: 100%;
      padding: 12px;
      border: 1px solid #1a1a1a;
      margin-top: 6px;
      margin-bottom: 16px;
      resize: vertical;
    }
    
    input[type=submit] {
      background-color: #4CAF50;
      color: white;
      padding: 12px 20px;
      border: none;
      cursor: pointer;
    }
    
    input[type=submit]:hover {
      background-color: #45a049;
    }
    
    /* Style the container/contact section */
    .container_contact {
      border-radius: 5px;
      background-color: #343a40; /*f2f2f2*/
      
      
      
    }
    
    /* Create two columns that float next to eachother */
    .column_contact {
      float: left;
      width: 50%;
      margin-top: 6px;
      padding: 20px;
      
      color: white;
    }
  
    
    
    /* Clear floats after the columns */
    .row:after {
      content: "";
      display: table;
      clear: both;
    }
    
    /* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
    @media screen and (max-width: 600px) {
      .column_contact, input[type=submit] {
        width: 100%;
        margin-top: 0;
      }
      .footer_contacto{
        position: static;
        padding: 1%;
      }
    }