/* Three image containers (use 25% for four, and 50% for two, etc) */
.column2 {
    float: left;
    width: 33.33%;
    padding: 15px;
    padding-bottom: 35px;
  }
  
  /* Clear floats after image containers */
  .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 500px) {
    .column2 {
      width: 100%;
    }
  }
  
  
  
  /* Container holding the image and the text */
  .container5 {
    position: relative;
    text-align: center;
    color: white;
  }
  
  /* Bottom left text */
  .bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
  }
  
  /* Bottom right text */
  .bottom-right {
    position: absolute;
    bottom: 8px;
    right: 16px;
  }
  
  .img_border {
    border-radius: 10px;
  }