* {
    box-sizing: border-box;
    
  }
  
  /* Style the search field */
  form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid #4bbf73;
    float: left;
    width: 80%;
    margin-top: 20px;
    
    
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #4bbf73;
    color: white;
    font-size: 17px;
    border: 1px solid #4bbf73;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    margin-top: 20px;
    
  }
  
  form.example button:hover {
    background: #4bbf73;
  }
  
  /* Clear floats */
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }