.size_upload{
    padding: 15%;
    padding-right: 15%;
}

#custom-button {
    padding: 10px;
    color: white;
    background-color: #4bbf73;
    border: 1px solid #000;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #custom-button:hover {
    background-color: #4bbf73;
  }
  
  #custom-text {
    margin-left: 10px;
    font-family: sans-serif;
    color: #aaa;
  }

  .footer_subir {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1a1a1a;
    color: white;
    text-align: left;
    padding:1%;
  }