.cuerpo{
    background-image: url("../img/fondo.jpg");
    
}

.footer {
    position: static;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #1a1a1a;
    color: white;
    text-align: left;
    padding:1%;
    
    
}

.social_icons {
    float: right;
    width: 30px;
    height: 30px;
    margin-left: 15px;
    
}



