{% load static %}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>MyWallpapers - Inicio</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static "Styles/cuerpo.css" %}">
        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="{% static "Styles/bootstrap lux/bootstrap.min.css" %}">
        
        <!-- jQuery library -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        
        <!-- Popper JS -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
        
        <!-- Latest compiled JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="{% static "css/search.css" %}">
        
        <link rel="stylesheet" href="javascript/portafolio.js">
        <link href="{% static "https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap" %}" rel="stylesheet">
        
        <link rel="stylesheet" href="{% static "css/imagen3columnas.css" %}">
        
        <link rel="icon" href="{% static "img/favicon.ico" %}">
        <link rel="stylesheet" href="{% static "css/estilos.css" %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
        
        <script src={%static "js/validarregister.js" %}></script> 
        <script src={%static "js/validarlogin.js" %}></script> 

        <link rel="stylesheet" href="{% static "css/click_image.css" %}">
        <link rel="stylesheet" href="{% static "css/click_imagecopy.css" %}">

        <link rel="stylesheet" href="{% static "css/upload.css" %}">
        <link href="https://fonts.googleapis.com/css2?family=Oswald&display=swap" rel="stylesheet">
        
        


        
        
        
    </head>
    <body>
        <nav class="navbar navbar-expand-md bg-primary navbar-dark">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous"> 
            <!-- Brand -->
            <a class="navbar-brand"  href="/" >MyWallpapers</a>
          
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
              <ul class="navbar-nav">
                <li class="nav-item nav">
                    <a href="subir" class="btn btn-success btn-lg nav-link bg-success" style="border-radius: 5px;">
                        <span class="glyphicon glyphicon-upload"></span><i class="fas fa-upload"></i> SUBIR
                    </a>
                </li>

                
                
                <!--<li class="nav-item">
                  <a class="nav-link" href="#"><i class="fa fa-fw fa-user"></i>
                    INICIAR SESION</a>
                </li> -->
                <li class="nav-item">
                    <a class="nav-link" href="contact"><i class="fa fa-fw fa-envelope"></i>
                    CONTACTO</a>
                </li>

                
                
                
                
                
                
                
              </ul>
            </div>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ml-auto">
                
                

                
                

                
                <li class="nav-item" >
                    {% if user.is_authenticated %}
                        <li class="nav-item nav">
                        <a class="nav-link" style="color:white-smoke">¡Bienvenido <i style="color:#fd7e14">{{user}}</i>!</a>
                        </li>
                        <a href="{% url 'logout'%}" class="nav-link justify-content-right"><i class="fas fa-sign-out-alt"></i>
                         CERRAR SESION</a> 
                        
                    {% else %}
                        
                        
                        <li class="nav-item nav">
                            <a href="{% url 'registro'%}" class="nav-link"><i class="fas fa-user-plus"></i>
                                REGISTRARSE</a>
                        </li>
                        


                        <a href="{% url 'login'%}" class="nav-link"><i class="fas fa-sign-in-alt"></i>
                        INICIAR SESIÓN</a>
                
                    {% endif %}
                    
                </li>
                
            </div>
                
          </nav>

          
          

             
           
          {%block contenido%}
          

          {% endblock %}
        
        <footer class="footer" style="font-family: 'Oswald', sans-serif;">
            ©2020. All Rights Reserved.
            <a href="">
                <img class="social_icons" src="{% static "img/facebook_icon.png" %}">
                
            </a>
            <a href="">
                <img class="social_icons" src="{% static "img/instagram.png" %}">
            </a>
            <a href="">
                <img class="social_icons" src="{% static "img/twitter.png" %}">
            </a>
                
        </footer>
        </div>

        
            
        
        
        
        
        
			
			
        
                  




        
          

          
        
    </body>
</html>