{% extends 'base.html' %}
{% load static%}


    {%block contenido%}
    <body class="cuerpo">
    

        <div class="row container-fluid">
                <div class="col-sm-8 imagen1click"><img src="{% static "img/tree.jpg" %}" style="width: 100%;"></div>
                <div class="col-sm-4 text_imagen1">
                    <h1 style="color: white;"> TREE</h1>
                    <p> by [USER] </p>
                    <p style="color: goldenrod; font-size: 150%;">1920x1080</p>
                    <!-- Auto width -->
                    <div class="boton_descargar1">
                        <button class="btn btn-success btn-lg nav-link bg-success " style="border-radius: 5px;">
                        <i class="fa fa-download"></i> Descargar</button>

                    </div>
                    
                </div>
            </div>
    </body>
    {% endblock %}