{% extends 'base.html' %}
{% load static %}}
{% load crispy_forms_tags %}



        {%block contenido%}
        <div class="row container-fluid">
            <div class="col-sm-4">
            </div>

            <div class="col-lg-4">
            <br>
            
                <div class="card">
                    <div class="card-body">
                        <form method="POST" action="">{% csrf_token %}
                            <h2 style="font-family: 'Oswald', sans-serif;margin-top:10px;text-align:center">CONTACTO</h2>
                                
                            {{formulario|crispy}}   
                                    
                            
                            <input type="submit" class="btn btn-success" style="border-radius: 5px;margin-bottom:10px" value="ENVIAR">
                            
                                    
                                
                                
                                    
                              
                                
                                
                        </form>
                        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

          
                                {% if messages %}
                                    {% for m in messages %}
                                        <script>
                                            Swal.fire({
                                                "title": "¡Felicitaciones!",
                                                "text": "{{m}}",
                                                "icon":"success"
                                            })
                                        
                                        
                                        </script>
                                    {% endfor %}
                                {% endif %} 
                        
                        
                    </div>
                </div>
            <br>
            
            </div>

            <div class="col-sm-4">
            </div>
                    
        
        
        
        
        </div>
         
                    
        
        {% endblock %}
