{% extends 'base.html' %}
{% load static%}


  

          

    {%block contenido%}
    <body class="cuerpo"> 
    
    
    
          <div class="container-fluid margen_carousel">
              <div class="row">
                  <div class="col-2"></div>
                  <div class="col-8">

                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                        </ol>
                    
                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <img src="{% static "img/ciervo.jpg" %}" class="img-fluid" alt="">
                                <div class="carousel-caption">
                    
                                    <p>¡ENCUENTRA LOS MEJORES WALLPAPERS!</p>
                                </div>
                            </div>
                            <div class="carousel-item">
                                <img src="{% static "img/ireland.jpg" %}" class="img-fluid" alt="">
                                <div class="carousel-caption">
                                    <p>¡REGISTRATE PARA SUBIR TUS IMAGENES!</p>
                                </div>
                                
                            </div>
                            <div class="carousel-item">
                                <img src="{% static "img/china.jpg" %}"  class="img-fluid" alt="">
                                <div class="carousel-caption">
                                    <P>¡IMAGENES EN FULL HD!</P>
                                </div>
                                
                            </div>
                    
                        </div>
                    
                    
                    </div>

                  </div>
                  <div class="col-2"></div>
              </div>


              


            
            

            

            <div >
                <form class="example" action="/action_page.php" style="margin:auto;max-width:300px">
                    <input type="text" placeholder="Buscar.." name="search">
                    <button type="submit"><i class="fa fa-search"></i></button>
                  </form>

            </div>

            
            
            

          <!-- IMAGENES -->  
        
          <div class="row">
            
            
            
            <div class="column2 container5">
                <a href="click_image">
                    <img src="{% static "img/tree.jpg" %}" alt="Imagen Django" style="width:100% " class="img_border">
                </a>
                
                <div class="bottom-left">[TITLE] by [USER]</div>
                <div class="bottom-right">
                    <i class="fas fa-download"></i>
                    
                    <i class="fas fa-heart"></i>
                </div>
                
            </div>

            <div class="column2 container5">
                <a href="tiger.jpg">
                    <img src="{% static "img/tiger.jpg" %}" alt="Imagen Django"  style="width:100% " class="img_border">
                </a>
                
                <div class="bottom-left">[TITLE] by [USER]</div>
                <div class="bottom-right">
                    <i class="fas fa-download"></i>
                    
                    <i class="fas fa-heart"></i>
                </div>
            </div>

            <div class="column2 container5">
                <a href="ireland.jpg">
                    <img src="{% static "img/ireland.jpg" %}" alt="Imagen Django"  style="width:100%" class="img_border">
                </a>
                
                <div class="bottom-left">[TITLE] by [USER]</div>
                <div class="bottom-right">
                    <i class="fas fa-download"></i>
                    
                    <i class="fas fa-heart"></i>
                </div>
            </div>
            

            



          </div>

          <div class="row">
            <div class="column2 container5">
                <img src="{% static "img/drake.jpg" %}" alt="Imagen Django" style="width:100%" class="img_border">
                <div class="bottom-left">[TITLE] by [USER]</div>
                <div class="bottom-right">
                    <i class="fas fa-download"></i>
                    
                    <i class="fas fa-heart"></i>
                </div>
            </div>

            <div class="column2 container5">
                <img src="{% static "img/hongos.jpg" %}" alt="Imagen Django" style="width:100% " class="img_border">
                <div class="bottom-left">[TITLE] by [USER]</div>
                <div class="bottom-right">
                    <i class="fas fa-download"></i>
                    
                    <i class="fas fa-heart"></i>
                </div>
            </div>

            <div class="column2 container5">
                <img src="{% static "img/luz.jpg" %}" alt="Imagen Django" style="width:100%" class="img_border">
                <div class="bottom-left">[TITLE] by [USER]</div>
                <div class="bottom-right">
                    <i class="fas fa-download"></i>
                    
                    <i class="fas fa-heart"></i>
                </div>
            </div>
               
          </div>


            <div class="row">
                <div class="column2 container5">
                    <img src="{% static "img/norway.jpg" %}" alt="Imagen Django" style="width:100%" class="img_border">
                    <div class="bottom-left">[TITLE] by [USER]</div>
                    <div class="bottom-right">
                        <i class="fas fa-download"></i>
                    
                        <i class="fas fa-heart"></i>
                    </div>
                </div>

                <div class="column2 container5">
                    <img src="{% static "img/oscuro.jpg" %}" alt="Imagen Django" style="width:100% " class="img_border">
                    <div class="bottom-left">[TITLE] by [USER]</div>
                    <div class="bottom-right">
                        <i class="fas fa-download"></i>
                    
                        <i class="fas fa-heart"></i>
                    </div>
                </div>

                <div class="column2 container5">
                    <img src="{% static "img/samurai.jpg" %}" alt="Imagen Django" style="width:100%" class="img_border">
                    <div class="bottom-left">[TITLE] by [USER]</div>
                    <div class="bottom-right">
                        <i class="fas fa-download"></i>
                    
                        <i class="fas fa-heart"></i>
                    </div>
                </div>
                   
            </div>


            <div class="row">
                <div class="column2 container5">
                    <img src="{% static "img/tienda.jpg" %}" alt="Imagen Django" style="width:100%" class="img_border">
                    <div class="bottom-left">[TITLE] by [USER]</div>
                    <div class="bottom-right">
                        <i class="fas fa-download"></i>
                    
                        <i class="fas fa-heart"></i>
                    </div>
                </div>

                <div class="column2 container5">
                    <img src="{% static "img/la.jpg" %}" alt="Imagen Django" style="width:100% " class="img_border">
                    <div class="bottom-left">[TITLE] by [USER]</div>
                    <div class="bottom-right">
                        <i class="fas fa-download"></i>
                    
                        <i class="fas fa-heart"></i>
                    </div>
                </div>

                <div class="column2 container5">
                    <img src="{% static "img/neon.png" %}" alt="Imagen Django" style="width:100%" class="img_border">
                    <div class="bottom-left">[TITLE] by [USER]</div>
                    <div class="bottom-right">
                        <i class="fas fa-download"></i>
                    
                        <i class="fas fa-heart"></i>
                    </div>
                </div>
                   

            </div>

            <div class="row">
                <div class="column2 container5">
                    <img src="{% static "img/puente.jpg" %}" alt="Imagen Django" style="width:100%" class="img_border">
                    <div class="bottom-left">[TITLE] by [USER]</div>
                    <div class="bottom-right">
                        <i class="fas fa-download"></i>
                    
                        <i class="fas fa-heart"></i>
                    </div>
                </div>
                <div class="column2 container5">
                    <img src="{% static "img/explorer.jpg" %}" alt="Imagen Django" style="width:100% " class="img_border">
                    <div class="bottom-left">[TITLE] by [USER]</div>
                    <div class="bottom-right">
                        <i class="fas fa-download"></i>
                    
                        <i class="fas fa-heart"></i>
                    </div>
                </div>
                <div class="column2 container5">
                    <img src="{% static "img/ciervo.jpg" %}" alt="Imagen Django" style="width:100%" class="img_border">
                    <div class="bottom-left">[TITLE] by [USER]</div>
                    <div class="bottom-right">
                        <i class="fas fa-download"></i>
                    
                        <i class="fas fa-heart"></i>
                    </div>
                </div>
                   

            </div>





            






          
            

        </div>

        <ul class="pagination justify-content-center navbar-dark " style="margin:20px 0">
            <li class="page-item"><a class="page-link bg-success text-light" href="#">Anterior</a></li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item"><a class="page-link bg-success text-light" href="#">Siguiente</a></li>
        </ul>
    </body>

        
    {% endblock %}
        
        