


{% extends 'base.html' %}
{% load static%}
{% load crispy_forms_tags %}








    {%block contenido%}
    
    <body class="cuerpo">
                <!--
                <div class="size_upload">
                    <input type="file" id="real-file" hidden="hidden" />
                    <button type="button" id="custom-button">ELIGE UNA IMAGEN</button>
                    <span id="custom-text">Aún no se ha elegido ningún archivo.</span>

                </div>

                <script type="text/javascript">
                    const realFileBtn = document.getElementById("real-file");
                    const customBtn = document.getElementById("custom-button");
                    const customTxt = document.getElementById("custom-text");

                    customBtn.addEventListener("click", function() {
                    realFileBtn.click();
                    });

                    realFileBtn.addEventListener("change", function() {
                    if (realFileBtn.value) {
                        customTxt.innerHTML = realFileBtn.value.match(
                        /[\/\\]([\w\d\s\.\-\(\)]+)$/
                        )[1];
                    } else {
                        customTxt.innerHTML = "Aún no se ha elegido ningún archivo.";
                    }
                    });

                </script>-->
                
                <div class="row container-fluid">
                    <div class="col-sm-4">
                    </div>
                    <div class="col-lg-4">
                    <br>
                        <div class="card">
                            <div class="card-body">

                                <form action="." method="post"  enctype="multipart/form-data">
                                <h2 style="font-family: 'Oswald', sans-serif;margin-top:10px;text-align:center">SUBIR IMAGEN</h2>

                                    {% csrf_token %}
                                    {{form|crispy}}
                                
                                    <button type="submit" class="btn btn-success" style="border-radius: 5px;margin-bottom:10px">Upload</button>
                                </form>
                            
                                {% if obj %}
                                <h3 style="font-family: 'Oswald', sans-serif;margin-top:10px;text-align:center"> ¡Imagen subida correctamente! {{img_obj.caption}} </h3>
                                
                                <img src="{{ obj.image.url}}" alt="image" class="img-thumbnail"  >
                                {% endif %}
                                <hr>

                            
                                {% for x in img %}
                                {% if forloop.first %}<div class="row ">{% endif %}
                                    <div class="col-lg-4 col-md-4 col-12" >
                                <div class="text-center mt-2">
                                    <img src="{{x.image.url}}"  height="70%" width="70%" class="img-thumbnail" alt="...">
                                    <a class="text-center" >{{x.caption}} by <i style="color:#fd7e14">{{user}}</i></a></div>
                                    </div>
                                    {% if forloop.counter|divisibleby:3 %}
                                </div>
                                <div class=row>{% endif %}
                                
                                    {% if forloop.last %}</div>{% endif %}
                            
                                {% endfor %}



                            </div>
                        
                        
                        
                        
                        </div>






                    <br>






                    </div>
                    <div class="col-sm-4">
                    </div>
                    

                </div>
                
    </body>

    {% endblock %}        
        